<!DOCTYPE html>
<html>
    <header>
        <link type="stylesheet" href= "/public/css/style.css">
        {{>header}}
        {{!-- <h1> About </h1> --}}
    </header>
    <body>
        <p>{{Details}}</p>
    </body>

    {{>footer}}
</html>