<!DOCTYPE html>
<head>
    <link type="style" href="/css/style.css">
  
    
</head>
<body class="main-content">
    {{>header}}
{{!-- <h2>{{title}}</h2> --}}

<h4>Please seacrh for the location</h4>
<form>
    <input placeholder="Location" style="border: 1px solid #cccccc;
    padding: 8px;">
    <button>Search</button>
</form>
<p id="message-1"></p>
<p id ="message-2"></p>

<h5>Maintainde by - {{Author}}</h5>

{{>footer}}
</body>  <script src ="/js/app.js"></script>