{{!-- <style>
footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(85, 132, 233);
  color: white;
 

}
</style> --}}

<footer>
  <p>{{Author}}<br>
  <a href="mailto:hege@example.com">ravi.sahay27@gmail.com</a></p>
</footer>