<style>
ul {
   
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
 background-color: rgb(85, 132, 233);
}
</style>
</head>


<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
 
</ul>

<h1>{{title}}</h1>

