h1 {
    color: grey;
}

body{
    color: #333333;
    padding: 0 16px;
    margin: 0 auto;
    font-family: arial;
    max-width: 650px;
}
footer {
   /* color:88888; */
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
    text-align: center;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;

}

input {
    border :1px solid #cccccc;
    padding: 20px;

}